.btn-white {
    background-color: #ced8e9;
    /* background-color: #7ba7e9; */
    color: #212529;
  }
  .btn-white:hover {
    background-color: #ffffff; /* light gray on hover */
  }
  .admin-header {
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
  .admin-header {
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .admin-header:hover {
    color: #FFD700; /* Change to any color you like */
  }
  
  