.sidebar .nav-link {
    padding: 10px 12px;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
  }
  
 
  .sidebar .nav-link:hover {
    background-color: #dadddf;
    color: #fff;
    text-decoration: none;
  }
  

  .sidebar .nav-link.active {
    background-color: #dadddf; 
    color: #fff;
    font-weight: 600;
  }
  